@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

@theme {
  --color-primary: #00a4fb;
  --color-secondary: #00d2fb;

  --text-tiny: 0.625rem; /* 10px */
}

@layer utilities {
  .stack {
    @apply grid;
  }
  .stack > * {
    @apply col-start-1 row-start-1;
  }

  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}

@layer base {
  button {
    @apply hover:cursor-pointer;
  }
}
